.myInfo{
    max-width: 900px;
}
.headline{
    font-size:26px;
    color: #9D9B9D;
    font-weight: normal;
    margin-left: 25px;
    margin-top: 25px;
}
.justText{
    color:#47B6E7;
    margin-left: 25px;
    margin-right: 25px;
    margin-top:5px; 
    font-size: 18px;
}
.english{
    margin-bottom: 25px;
}